.controls
{
    position: 			absolute;
    opacity:            1;
    visibility:         visible;

    width:             	410px;
    height:            	60px;
    bottom:             2px;
    left:               0;

    background-color:   transparent;
}


.controls_holder
{
    position: 			absolute;

    width:              728px;
    height:             60px;
    bottom:             0;
    left:               0;

    border-radius: 		10px;
    background-color: 	rgba( 0, 0, 0, .5 );
}


.showControls
{
    bottom:             2px;
}


.hideControls
{
    bottom:             -30px;
}


.controls_playPause .controls_playBtn
{
    visibility: visible;
}

.controls_playPause .controls_pauseBtn
{
    visibility: hidden;
}

.controls_playPause_playing .controls_playBtn
{
    visibility: hidden;
}

.controls_playPause_playing .controls_pauseBtn
{
    visibility: visible;
}


.controls_audioBtn {}


.controls_audioBtn_muted
{
    width: 10px !important;
}


.controls_audio
{
    position:          	absolute;
    overflow: 			hidden;

    width:             	30px;
    height:            	26px;

    left:               330px;
    top:                3px;
}


.controls_progress
{
    position:          	absolute;
    height:             20px;
}


.progressBG
{
    pointer-events: 	none;
    background-color:   rgba( 255, 255, 255, .3 );
}


.controls_progressBar
{
    position:          	absolute;
    pointer-events: 	none;
    width:             	0;
    height:            	3px;

    left: 				0;
    bottom:				0;

    background-color: 	#af1709;
}


.controls_loadBar
{
    position:          	absolute;
    pointer-events: 	none;
    width:             	0;
    height:            	3px;

    left: 				0;
    bottom:				0;

    background-color: 	rgba( 255, 255, 255, .3 );
}


.controls_slider
{
    position:          	absolute;

    width:             	22px;
    height:            	30px;

    left:				0;
    top:				-5px;
    opacity: 			0;

    background-color: 	transparent;
}